.tag-scene__submit{
    position: absolute;
    bottom: 1em;
    right: 10%;
    padding: 1rem 2rem;
    font-size: $font-lg;
    border-style: none;
    background-color: $color-white;
    border-radius: $border-rounded;
}